.skills {
  padding: 100px 10%;
  text-align: center;
  background: #f4f4f4;
}

.skills h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

.skill-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skill-list div {
  width: 140px;
  padding: 30px;
  background: white;
  border-radius: 15px;
  font-size: 50px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.skill-list p {
  font-size: 16px;
  margin-top: 10px;
}
