footer {
  padding: 60px 10%;
  background: #080c14;
  color: white;
  text-align: center;
}

footer a {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

footer p {
  margin-top: 20px;
}
